
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  color: #4E47FF;
}

/* Shared Styles */
.btn-primary{
    background-color: #4E47FF;
    color: #ffffff;
    padding: 12px 36px;
    border-radius: 5px;
}

nav ul li{
    list-style: none;
}