
.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  color: #4E47FF;
}


.raleway-bold {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  color: #ffffff;
}

/* Shared Styles */
.btn-primary{
    background-color: #4E47FF;
    color: #ffffff;
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
}

body{
  background-color: #f5f8ff;
}

.header{
  background-image: url(../Assets/Hero-bg.png);
  height: 698px;
  width: 1440px;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 150px;
}


.nav-title{
  font-size: 34px;
}

nav ul li{
    list-style: none;
}

/* Banner Styles */
.banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-content{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 65px;
  font-weight: bold;
  color: #252432;
  text-align: center;
  margin: 200px 250px;
  margin-bottom: 37px;
}

/* Main Styles */
.action{
  display: flex;
  justify-content: center;
  padding: 0 63px;
  gap: 60px;
  margin-top: 130px;
  margin-bottom: 130px;
}

.action-content{
  width: 517px;
}

.action-content-title{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 42px;
  color: #252432;
  margin-bottom: 0;
}

.action-content-subtitle{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: rgba(37, 36, 50, 0.5);
  margin-top: 20px;
}

.action-image{
  border-radius: 48px;
}

/* Productive Users */
.productive-users{
  background-color: rgba(78, 71, 255, 0.1);
  border-radius: 24px;
  padding: 50px 142px;
  margin-left: 170px;
  margin-right: 170px;
  margin-bottom: 130px;
  justify-content: center;
}

.productive-users-title{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 38px;
  columns: #252432;
  text-align: center;
  margin-bottom: 0;
}

.productive-users-items{
  display: flex;
  gap: 10px;
  justify-content: space-around;
}

.item-title{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-size: 80px;
  font-style: normal;
  color: #4E47FF;
  margin-top: 20px;
  margin-bottom: 0;
}

.item-subtitle{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 0;
  text-align: center;
}

/* Reviews Styles */
.reviews{
  margin-left: 170px;
  margin-right: 170px;
  margin-bottom: 130px;
  justify-content: center;
}

.review-title{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 42px;
  columns: #252432;
  text-align: center;
  margin-bottom: 50px;
}

.review-containers{
  display: flex;
  gap: 20px;
}

.review-item{
  border-radius: 14px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 24px;
}

.review-item-title{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  color: #1E1E1E;
  margin-bottom: 0;
}

.review-item-subtitle{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #1E1E1E;
  margin-top: 10px;
  margin-bottom: 10px;
}

.reviewer-info{
  display: flex;
  gap: 10px;
  align-items: center;
}

.reviewer-photo{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.reviewer-name{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  color: #757575;
  margin-bottom: 0;
}

.review-date{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #b3b3b3;
  margin-top: 0;
}

/* Ready to focus better */
.focus-better{
  background-color: #ffffff;
  text-align: center;
  margin-left: 170px;
  margin-right: 170px;
  margin-bottom: 130px;
  padding-top: 70px;
  padding-bottom: 70px;
}

.focus-text{
  row-gap: 20px;
}

.focus-title{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 50px;
  columns: #000;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.focus-subtitle{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  row-gap: 20px;
}

.focus-image{
  border-radius: 48px;
  margin-top: 20px;
}

/* Let's get in touch */
.query{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 170px;
  margin-right: 170px;
  margin-bottom: 130px;
  padding-top: 70px;
  padding-bottom: 70px;
}

.query-title{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 97px;
  columns: #000;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}

.query-form{
  display: flex;
  flex-direction: column;
  row-gap: 19px;
}

.query-info{
  display: block;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  color: #000;
  row-gap: 20px;
}