
.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  color: #4E47FF;
}


.raleway-bold {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  color: #ffffff;
}

/* Shared Styles */
.btn-primary{
    background-color: #4E47FF;
    color: #ffffff;
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
}

body{
  background-color: #f5f8ff;
}

.header{
  background-image: url(../Assets/Hero-bg.png);
  height: 698px;
  width: 1440px;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 150px;
}


.nav-title{
  font-size: 34px;
}

nav ul li{
    list-style: none;
}

/* Banner Styles */
.banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-content{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 65px;
  font-weight: bold;
  color: #252432;
  text-align: center;
  margin: 200px 250px;
  margin-bottom: 37px;
}

/* Main Styles */
.action{
  display: flex;
  justify-content: center;
  padding: 0 63px;
  gap: 60px;
  margin-top: 130px;
  margin-bottom: 130px;
}

.action-content{
  width: 517px;
}

.action-content-title{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 42px;
  color: #252432;
  margin-bottom: 0;
}

.action-content-subtitle{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: rgba(37, 36, 50, 0.5);
  margin-top: 20px;
}

.action-image{
  border-radius: 48px;
}

/* Productive Users */
.productive-users{
  background-color: rgba(78, 71, 255, 0.1);
  border-radius: 24px;
  padding: 50px 142px;
  margin-left: 170px;
  margin-right: 170px;
  margin-bottom: 130px;
  justify-content: center;
}

.productive-users-title{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 38px;
  columns: #252432;
  text-align: center;
  margin-bottom: 0;
}

.productive-users-items{
  display: flex;
  gap: 10px;
  justify-content: space-around;
}

.item-title{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-size: 80px;
  font-style: normal;
  color: #4E47FF;
  margin-top: 20px;
  margin-bottom: 0;
}

.item-subtitle{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 0;
  text-align: center;
}
